%svg-common {
	background: url("../img/sprites/sprite-a0128d46.svg") no-repeat;
}

.svg-icons--avatar {
	@extend %svg-common;
	background-position: 58.146483735603105% 16.659198235152186%;
}

.svg-icons--avatar-dims {
	width: 482.9px;
	height: 482.9px;
}

.svg-icons--avatar-1 {
	@extend %svg-common;
	background-position: 86.52029432708284% 48.842824757848454%;
}

.svg-icons--avatar-1-dims {
	width: 472.6px;
	height: 472.6px;
}

.svg-icons--back {
	@extend %svg-common;
	background-position: 28.365153216749558% 83.75510007499602%;
}

.svg-icons--back-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-icons--book {
	@extend %svg-common;
	background-position: 28.96500372300819% 50.57132999827497%;
}

.svg-icons--book-dims {
	width: 485.5px;
	height: 485.5px;
}

.svg-icons--cancel {
	@extend %svg-common;
	background-position: 86.58708949462557% 0;
}

.svg-icons--cancel-dims {
	width: 475.2px;
	height: 475.2px;
}

.svg-icons--chat {
	@extend %svg-common;
	background-position: 0 83.76432134870117%;
}

.svg-icons--chat-dims {
	width: 477.5px;
	height: 477.5px;
}

.svg-icons--chat-1 {
	@extend %svg-common;
	background-position: 72.41576038509538% 65.85707404349024%;
}

.svg-icons--chat-1-dims {
	width: 477.6px;
	height: 477.6px;
}

.svg-icons--chat-2 {
	@extend %svg-common;
	background-position: 86.53056379821959% 32.600824458948814%;
}

.svg-icons--chat-2-dims {
	width: 473px;
	height: 473px;
}

.svg-icons--copy {
	@extend %svg-common;
	background-position: 0 16.911627585730567%;
}

.svg-icons--copy-dims {
	width: 488.3px;
	height: 488.3px;
}

.svg-icons--dislike {
	@extend %svg-common;
	background-position: 72.42802756751456% 49.41445301342474%;
}

.svg-icons--dislike-dims {
	width: 478.17px;
	height: 478.17px;
}

.svg-icons--download {
	@extend %svg-common;
	background-position: 72.44589774078479% 0;
}

.svg-icons--download-dims {
	width: 479px;
	height: 479px;
}

.svg-icons--download-1 {
	@extend %svg-common;
	background-position: 0 99.97631145289753%;
}

.svg-icons--download-1-dims {
	width: 471.2px;
	height: 471.2px;
}

.svg-icons--edit {
	@extend %svg-common;
	background-position: 41.90095652508989% 99.91216844445509%;
}

.svg-icons--edit-dims {
	width: 469.33px;
	height: 469.33px;
}

.svg-icons--envelope {
	@extend %svg-common;
	background-position: 58.153406554156625% 0;
}

.svg-icons--envelope-dims {
	width: 483.3px;
	height: 483.3px;
}

.svg-icons--folder {
	@extend %svg-common;
	background-position: 43.00374799214706% 67.24920766156814%;
}

.svg-icons--folder-dims {
	width: 481.2px;
	height: 481.2px;
}

.svg-icons--garbage {
	@extend %svg-common;
	background-position: 43.691831019484006% 33.60677802319161%;
}

.svg-icons--garbage-dims {
	width: 486.4px;
	height: 486.4px;
}

.svg-icons--glasses {
	@extend %svg-common;
	background-position: 29.16994515975203% 16.8444858780471%;
}

.svg-icons--glasses-dims {
	width: 487.8px;
	height: 487.8px;
}

.svg-icons--hand {
	@extend %svg-common;
	background-position: 69.67767738112872% 99.84947711297787%;
}

.svg-icons--hand-dims {
	width: 467.5px;
	height: 467.5px;
}

.svg-icons--headphones {
	@extend %svg-common;
	background-position: 83.52005450559867% 99.8392073505211%;
}

.svg-icons--headphones-dims {
	width: 467.2px;
	height: 467.2px;
}

.svg-icons--heart {
	@extend %svg-common;
	background-position: 86.49719692700145% 65.05545445180785%;
}

.svg-icons--heart-dims {
	width: 471.7px;
	height: 471.7px;
}

.svg-icons--house {
	@extend %svg-common;
	background-position: 14.487011439466157% 50.583546138449854%;
}

.svg-icons--house-dims {
	width: 486.2px;
	height: 486.2px;
}

.svg-icons--like {
	@extend %svg-common;
	background-position: 72.4286733238231% 32.95822148805836%;
}

.svg-icons--like-dims {
	width: 478.2px;
	height: 478.2px;
}

.svg-icons--link {
	@extend %svg-common;
	background-position: 58.144753288494734% 33.3034606369778%;
}

.svg-icons--link-dims {
	width: 482.8px;
	height: 482.8px;
}

.svg-icons--logout {
	@extend %svg-common;
	background-position: 13.974731597366391% 99.97631145289753%;
}

.svg-icons--logout-dims {
	width: 471.2px;
	height: 471.2px;
}

.svg-icons--magnifying-glass {
	@extend %svg-common;
	background-position: 99.97877358490567% 0;
}

.svg-icons--magnifying-glass-dims {
	width: 451px;
	height: 451px;
}

.svg-icons--monitor {
	@extend %svg-common;
	background-position: 14.354138156720413% 67.25847574421168%;
}

.svg-icons--monitor-dims {
	width: 481.6px;
	height: 481.6px;
}

.svg-icons--musical-note {
	@extend %svg-common;
	background-position: 14.186904669942779% 83.75625262317753%;
}

.svg-icons--musical-note-dims {
	width: 477.22px;
	height: 477.22px;
}

.svg-icons--next {
	@extend %svg-common;
	background-position: 14.554222900472126% 16.909642132014753%;
}

.svg-icons--next-dims {
	width: 487.96px;
	height: 487.96px;
}

.svg-icons--next-1 {
	@extend %svg-common;
	background-position: 42.54238194555858% 83.75510007499602%;
}

.svg-icons--next-1-dims {
	width: 477.18px;
	height: 477.18px;
}

.svg-icons--padlock {
	@extend %svg-common;
	background-position: 58.144753288494734% 49.94485040672826%;
}

.svg-icons--padlock-dims {
	width: 482.8px;
	height: 482.8px;
}

.svg-icons--paper-plane {
	@extend %svg-common;
	background-position: 55.80771556272154% 99.90222850399317%;
}

.svg-icons--paper-plane-dims {
	width: 469.04px;
	height: 469.04px;
}

.svg-icons--phone-call {
	@extend %svg-common;
	background-position: 86.55136694576441% 16.328830763627117%;
}

.svg-icons--phone-call-dims {
	width: 473.81px;
	height: 473.81px;
}

.svg-icons--photo-camera {
	@extend %svg-common;
	background-position: 14.538193306112717% 33.7675655146221%;
}

.svg-icons--photo-camera-dims {
	width: 487.7px;
	height: 487.7px;
}

.svg-icons--pie-chart {
	@extend %svg-common;
	background-position: 70.87296165384501% 83.72975203769302%;
}

.svg-icons--pie-chart-dims {
	width: 476.3px;
	height: 476.3px;
}

.svg-icons--piggy-bank {
	@extend %svg-common;
	background-position: 29.072539786612623% 33.766399668554065%;
}

.svg-icons--piggy-bank-dims {
	width: 487.6px;
	height: 487.6px;
}

.svg-icons--placeholder {
	@extend %svg-common;
	background-position: 56.71657754010696% 83.74991400068798%;
}

.svg-icons--placeholder-dims {
	width: 477px;
	height: 477px;
}

.svg-icons--printer {
	@extend %svg-common;
	background-position: 0 67.2793382733069%;
}

.svg-icons--printer-dims {
	width: 482.5px;
	height: 482.5px;
}

.svg-icons--reload {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons--reload-dims {
	width: 489.71px;
	height: 489.71px;
}

.svg-icons--settings {
	@extend %svg-common;
	background-position: 72.43943762446868% 16.4871097649124%;
}

.svg-icons--settings-dims {
	width: 478.7px;
	height: 478.7px;
}

.svg-icons--settings-1 {
	@extend %svg-common;
	background-position: 57.30216790079401% 67.22836381168854%;
}

.svg-icons--settings-1-dims {
	width: 480.3px;
	height: 480.3px;
}

.svg-icons--share {
	@extend %svg-common;
	background-position: 28.68150175522104% 67.25847574421168%;
}

.svg-icons--share-dims {
	width: 481.6px;
	height: 481.6px;
}

.svg-icons--shopping-bag {
	@extend %svg-common;
	background-position: 14.60077519379845% 0;
}

.svg-icons--shopping-bag-dims {
	width: 489px;
	height: 489px;
}

.svg-icons--shopping-cart {
	@extend %svg-common;
	background-position: 43.69404396933647% 16.81559174854958%;
}

.svg-icons--shopping-cart-dims {
	width: 486.57px;
	height: 486.57px;
}

.svg-icons--shuffle {
	@extend %svg-common;
	background-position: 86.49155277145027% 81.24613736558032%;
}

.svg-icons--shuffle-dims {
	width: 471.48px;
	height: 471.48px;
}

.svg-icons--speaker {
	@extend %svg-common;
	background-position: 43.41870160810006% 50.56260779579165%;
}

.svg-icons--speaker-dims {
	width: 485px;
	height: 485px;
}

.svg-icons--star {
	@extend %svg-common;
	background-position: 43.702507315735836% 0;
}

.svg-icons--star-dims {
	width: 487.22px;
	height: 487.22px;
}

.svg-icons--tag {
	@extend %svg-common;
	background-position: 29.170379863791485% 0;
}

.svg-icons--tag-dims {
	width: 487.85px;
	height: 487.85px;
}

.svg-icons--upload {
	@extend %svg-common;
	background-position: 0 50.58529178313835%;
}

.svg-icons--upload-dims {
	width: 486.3px;
	height: 486.3px;
}

.svg-icons--upload-1 {
	@extend %svg-common;
	background-position: 27.949463194732783% 99.97631145289753%;
}

.svg-icons--upload-1-dims {
	width: 471.2px;
	height: 471.2px;
}

.svg-icons--vector {
	@extend %svg-common;
	background-position: 0 33.76873144119882%;
}

.svg-icons--vector-dims {
	width: 487.8px;
	height: 487.8px;
}

