@import "header", "basket", "catalog", "footer";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$link-color: #b624ff;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

a {
    color: $link-color;
    text-decoration: underline;
    text-align: center;
}