    $s-001-browser: 0px 0px 0px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-002-phone: 513px 0px -513px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-003-check: 0px 513px 0px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-004-customer-service: 513px 513px -513px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-005-ecommerce: 1026px 0px -1026px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-006-shopping: 1026px 513px -1026px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-007-advertising: 0px 1026px 0px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-008-reward: 513px 1026px -513px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-009-money: 1026px 1026px -1026px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-010-delivery: 1539px 0px -1539px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-011-browser-1: 1539px 513px -1539px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-012-shopping-1: 1539px 1026px -1539px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-013-present: 0px 1539px 0px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-014-support: 513px 1539px -513px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-015-shopping-2: 1026px 1539px -1026px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-016-cashbox: 1539px 1539px -1539px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-017-shopping-3: 2052px 0px -2052px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-018-shopping-4: 2052px 513px -2052px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-019-qr: 2052px 1026px -2052px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-020-offer: 2052px 1539px -2052px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-021-coupons: 0px 2052px 0px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-022-order: 513px 2052px -513px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-023-shopping-5: 1026px 2052px -1026px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-024-payment-method: 1539px 2052px -1539px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-025-search: 2052px 2052px -2052px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-026-rating: 2565px 0px -2565px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-027-megaphone: 2565px 513px -2565px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-028-badges: 2565px 1026px -2565px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-029-protection: 2565px 1539px -2565px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-030-delivery-1: 2565px 2052px -2565px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-031-graph: 0px 2565px 0px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-032-payment-method-1: 513px 2565px -513px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-033-notification: 1026px 2565px -1026px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-034-payment: 1539px 2565px -1539px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-035-placeholder: 2052px 2565px -2052px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-036-shop: 2565px 2565px -2565px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-037-accounting: 3078px 0px -3078px 0px 512px 512px 4103px 3590px 'sprite.png';
    $s-038-announcement: 3078px 513px -3078px -513px 512px 512px 4103px 3590px 'sprite.png';
    $s-039-stadistics: 3078px 1026px -3078px -1026px 512px 512px 4103px 3590px 'sprite.png';
    $s-040-computer: 3078px 1539px -3078px -1539px 512px 512px 4103px 3590px 'sprite.png';
    $s-041-online-shop: 3078px 2052px -3078px -2052px 512px 512px 4103px 3590px 'sprite.png';
    $s-042-payment-1: 3078px 2565px -3078px -2565px 512px 512px 4103px 3590px 'sprite.png';
    $s-043-bags: 0px 3078px 0px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-044-favourite: 513px 3078px -513px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-045-payment-2: 1026px 3078px -1026px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-046-accounting-1: 1539px 3078px -1539px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-047-browser-2: 2052px 3078px -2052px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-048-wallet: 2565px 3078px -2565px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-049-shopping-6: 3078px 3078px -3078px -3078px 512px 512px 4103px 3590px 'sprite.png';
    $s-050-gift: 3591px 0px -3591px 0px 512px 512px 4103px 3590px 'sprite.png';
