header {
    width: 100%;
    background: #cc3e4e;
    text-align: center;
    height: 100px;

}

header a{
    text-align: center;
    color: #cc3e4e;
    transition: all .25s ease-out;
}

.foo {
    font-size: 18px;
}

@media (min-width: 767px) {
    .foo {
        font-size: 24px;
    }
}

.bar {
    margin-bottom: 20px;
}

@media (min-width: 767px) {
    .bar {
        margin-bottom: 30px;
    }
}